---
import { Icon } from "astro-icon";
import { getContentById } from "~/utils/dataFetching";

const { contentId } = Astro.props;

const response = await getContentById(fetch, contentId);
const { url, iconPack, iconName, text } = response.data[0].Data;
---

<cta-button data-nimvio-content-id={contentId}>
  <a
    href={url}
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <Icon pack={iconPack} name={iconName} class="h-8" />
    <span>{text}</span>
  </a>
</cta-button>

<script>
  import WebLink from "@nimvio/live-preview-sdk";
  import type { LivePreviewData } from "~/types";

  class CTAButton extends HTMLElement {
    constructor() {
      super();

      const nimvioSdk = WebLink.init({
        queryParam: "preview",
        disableWeblink: false,
      });

      // Read the contentid from the data attribute.
      const contentId = this.dataset.nimvioContentId;

      nimvioSdk.livePreviewUtils.onPreviewContentChange((newData) => {
        const { id, formData }: LivePreviewData = newData;
        if (id === contentId) {
          const { text, url } = formData;

          const sectionEl = document.querySelector(`[data-nimvio-content-id='${id}']`);

          // Text update
          sectionEl!.querySelector("span")!.innerText = text;

          // URL update
          sectionEl!.querySelector("a")!.setAttribute("href", url);
        }
      });
    }
  }

  customElements.define("cta-button", CTAButton);
</script>
