---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import { getContentById } from "~/utils/dataFetching";

const sizes = "(min-width: 640px) 42vw, 67vw";

const { contentId } = Astro.props;

// Get splash section grouping content
const splashSection = await getContentById(fetch, contentId);
const { contentList } = splashSection.data[0].Data;

// Get splash section content detail
const splashContentId = contentList.ContentIDs[0];
const response = await getContentById(fetch, splashContentId);
const { githubUrl, splashText, splashLogo, splashImage } =
  response.data[0].Data;
---

<section
  class="relative h-screen bg-black"
  data-splash-content-id={splashContentId}
>
  <Starfield />
  <GitHubCorner href={githubUrl} id="githubUrl" />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <img
        src={splashLogo.MediaUrl}
        alt="Splash Logo"
        class="h-24 text-white md:h-32"
        data-nimvio-content-id={splashContentId}
        id="splashLogo"
      />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
        data-nimvio-content-id={splashContentId}
        id="splashText"
      >
        <Fragment set:html={splashText} />
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
      data-nimvio-content-id={splashContentId}
    >
      <img
        class="h-full w-full object-cover"
        id="splashImage"
        src={splashImage.MediaUrl}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>

<script>
  import WebLink from "@nimvio/live-preview-sdk";
  import type { LivePreviewData, SplashContent } from "~/types";

  const nimvioSdk = WebLink.init({
    queryParam: "preview",
    disableWeblink: false,
  });

  const contentId = document
    .querySelector("[data-splash-content-id]")
    ?.getAttribute("data-splash-content-id");

  nimvioSdk.livePreviewUtils.onPreviewContentChange((newData) => {
    const { id, formData }: LivePreviewData = newData;
    const { githubUrl, splashImage, splashLogo, splashText }: SplashContent =
      formData;

    if (id === contentId) {
      const elGithub = document.querySelector("#githubUrl");
      elGithub!.setAttribute("href", githubUrl);

      const elSplashText = document.querySelector("#splashText");
      elSplashText!.innerHTML = splashText;

      const elSplashLogo = document.querySelector("#splashLogo");
      elSplashLogo!.setAttribute("src", splashLogo.MediaUrl);

      const elSplashImage = document.querySelector("#splashImage");
      elSplashImage!.setAttribute("src", splashImage.MediaUrl);
    }
  });
</script>
